@font-face {
  font-family: "Gotham Bold";
  src: url(../fonts/Gotham-Bold.otf);
}
@font-face {
  font-family: "Gotham Medium";
  src: url(../fonts/GothamMedium.ttf);
}
@font-face {
  font-family: "Open Sans Italic";
  src: url(../fonts/OpenSans-Italic.ttf);
}
@font-face {
  font-family: "Open Sans Regular";
  src: url(../fonts/OpenSans-Regular.ttf);
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 65%;
}

body {
  width: 100vw;
  min-height: 100vh;
  font-family: "Gotham", "Open Sans", sans-serif;
  background-color: #fff;
  overflow-x: hidden;
}
body.page-1 #intro__pagination li:nth-of-type(1), body.page-2 #intro__pagination li:nth-of-type(2), body.page-3 #intro__pagination li:nth-of-type(3), body.page-4 #intro__pagination li:nth-of-type(4), body.page-5 #intro__pagination li:nth-of-type(5) {
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
  background: #5A3E79;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 3rem 9%;
  background: transparent;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.header .header__logo {
  position: relative;
  margin-right: 4rem;
}
.header .header__logo img {
  max-width: 200px;
}
.header .header__navbar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .header__navbar ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 1rem;
  list-style: none;
}
.header .header__navbar .fa-circle {
  font-size: 1rem;
  border: none;
  padding: 0;
  margin: 0 0.5rem;
}
.header .header__navbar li a {
  position: relative;
  text-decoration: none;
  font-size: 1.1rem;
  color: #fff;
  margin: 0 2rem;
  font-weight: 300;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.header .header__navbar li a:hover {
  letter-spacing: 0.1rem;
}
.header .header__navbar li i {
  font-size: 1.5rem;
  margin: 0 1rem;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  padding: 0.9rem;
}
.header .header__navbar li a:hover i:not(i.fa-circle) {
  -webkit-box-shadow: 0 0 15px #fff;
          box-shadow: 0 0 15px #fff;
  letter-spacing: normal;
}
.header #menu-btn {
  font-size: 2.5rem;
  border-radius: 0.5rem;
  background: #eee;
  color: #fff;
  cursor: pointer;
  background: none;
  padding: 1rem 1.5rem;
  display: none;
}

.header.fix {
  padding: 1.5rem 9%;
  background: #7e5aff;
}

.intro {
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url(../img/Bg-header.webp) no-repeat;
  background-size: cover;
}
.intro h1 {
  font-family: "Gotham", sans-serif;
  color: #fff;
  font-size: 2.2rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  font-size: 7rem;
}
.intro p {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
}
.intro #down {
  position: absolute;
  bottom: 10px;
  color: #fff;
  opacity: 0.5;
  font-size: 3rem;
  padding: 0.9rem 1rem 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}
.intro #down:hover {
  -webkit-box-shadow: 0 0 15px #fff;
          box-shadow: 0 0 15px #fff;
  opacity: 1;
}
.intro #intro__pagination {
  color: #000;
  position: fixed;
  right: 3rem;
  display: block;
  z-index: 500;
}
.intro #intro__pagination li {
  position: relative;
  border: 1px solid #262626;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  margin: 1.5rem;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.intro #intro__pagination li:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}
.intro #intro__pagination li a {
  position: absolute;
  text-decoration: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.projects .projects__title {
  width: 100%;
}
.projects .projects__title .line {
  width: 10rem;
  height: 0.2rem;
  background: #666;
  margin: 7rem auto 1rem;
}
.projects .projects__title h1 {
  font-family: "Gotham", sans-serif;
  color: #2c4058;
  font-size: 2.2rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  margin: 2rem auto;
  text-align: center;
}
.projects .projects__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5rem;
  padding: 10rem 18rem;
}
.projects .projects__content .image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40rem;
          flex: 0 0 40rem;
  width: 35rem;
  height: 28rem;
  margin-right: 2rem;
}
.projects .projects__content .image img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-box-shadow: -5rem -5rem 0 #55b7ff;
          box-shadow: -5rem -5rem 0 #55b7ff;
}
.projects .projects__content .projects__content-text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40rem;
          flex: 0 0 40rem;
}
.projects .projects__content .projects__content-text span {
  font-size: 1.2rem;
  color: #2c4058;
  text-transform: uppercase;
}
.projects .projects__content .projects__content-text h2 {
  font-family: "Gotham", sans-serif;
  color: #2c4058;
  font-size: 2.2rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.projects .projects__content .projects__content-text button {
  padding: 1rem 2rem;
  border: 1px solid #666;
  color: #666;
  text-transform: uppercase;
  background: transparent;
  outline: none;
  border-radius: 0.3rem;
  cursor: pointer;
  margin: 2rem 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.projects .projects__content .projects__content-text button:hover {
  color: #fff;
  background: #55b7ff;
  border: 1px solid #55b7ff;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.projects .projects__content .projects__content-text p {
  color: #666;
  font-size: 1.3rem;
  font-family: "Open Sans";
  margin-top: 2rem;
}
.projects .projects__content:nth-child(3) .image img {
  -webkit-box-shadow: 5rem -5rem 0 #7e5aff;
          box-shadow: 5rem -5rem 0 #7e5aff;
  margin-left: 2rem;
}

.news {
  background: url(../img/bg2.webp);
  padding: 3rem;
}
.news .news__title {
  width: 100%;
}
.news .news__title .line {
  width: 10rem;
  height: 0.2rem;
  background: #fff;
  margin: 7rem auto 1rem;
}
.news .news__title h1 {
  font-family: "Gotham", sans-serif;
  color: #fff;
  font-size: 2.2rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  margin: 2rem auto;
  text-align: center;
}
.news .news__slider {
  width: 100%;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.news .news__slider .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
}
.news .news__slider .slider .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
  margin: 0.5rem;
  background: transparent;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.news .news__slider .slider .slide img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.news .news__slider .slider .slide .text {
  max-width: 100%;
  background-color: #fff;
  padding: 1rem;
}
.news .news__slider .slider .slide .text h3 {
  font-family: "Gotham", sans-serif;
  color: #2c4058;
  font-size: 2.2rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: normal;
}
.news .news__slider .slider .slide .text p {
  font-size: 1.5rem;
}
.news .news__slider .slider .slide .text .card-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.news .news__slider .slider .slide .text .card-footer img {
  width: 7rem;
}
.news .news__slider .slider .slide .text .card-footer .name {
  padding: 2rem;
}
.news .news__slider .slider .slide .text .card-footer .name p {
  color: #666;
  margin-bottom: 0.5rem;
}
.news .news__slider .slider .slide .text .card-footer .name span {
  color: #55b7ff;
}

.gallery {
  padding: 2rem 10rem;
}
.gallery .gallery__title {
  width: 100%;
  margin-bottom: 5rem;
}
.gallery .gallery__title .line {
  width: 10rem;
  height: 0.2rem;
  background: #2c4058;
  margin: 7rem auto 1rem;
}
.gallery .gallery__title h1 {
  font-family: "Gotham", sans-serif;
  color: #2c4058;
  font-size: 2.2rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  margin: 2rem auto;
  text-align: center;
}
.gallery .gallery__images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0.7rem 1fr 0.7rem 1fr 0.7rem 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.7rem;
  padding: 3rem 10rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.gallery .gallery__images .gallery__images-item {
  max-width: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.gallery .gallery__images .gallery__images-item img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.gallery .gallery__images .gallery__images-item .globe {
  width: 7rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.gallery .gallery__images .gallery__images-item:nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  position: relative;
}
.gallery .gallery__images .gallery__images-item:nth-child(4) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}
.gallery .gallery__images .gallery__images-item:nth-child(5) {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}
.gallery .gallery__images .gallery__images-item:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.gallery .gallery__images .gallery__images-item:hover .globe {
  display: none;
}
.gallery .gallery__button {
  padding: 1rem 2rem;
  border: 1px solid #666;
  color: #666;
  text-transform: uppercase;
  background: transparent;
  outline: none;
  border-radius: 0.3rem;
  cursor: pointer;
  display: block;
  margin: 3rem 45%;
  text-decoration: none;
  font-size: 1.3rem;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.gallery .gallery__button:hover {
  color: #fff;
  background: #7e5aff;
  border: 1px solid #7e5aff;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#googleMap {
  width: 90%;
  height: 80vh;
  margin: 5rem auto 2rem;
}

.footer {
  height: 80vh;
  width: 100%;
  background: url(../img/bg-footer.webp) no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 100;
}
.footer .footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .footer__info .social {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin-left: 5rem;
}
.footer .footer__info .social li a {
  text-decoration: none;
  font-size: 2.1rem;
  color: #fff;
  margin: 0 2rem;
  font-weight: 300;
  text-transform: uppercase;
}
.footer .contact {
  padding: 1rem 2rem;
  border: 1px solid #666;
  color: #666;
  text-transform: uppercase;
  background: transparent;
  outline: none;
  border-radius: 0.3rem;
  cursor: pointer;
  margin: 2rem 45% 10rem;
  color: #fff;
  border: 1px solid #fff;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.footer .contact:hover {
  background: #fff;
  color: #7e5aff;
  border: 1px solid #fff;
}
.footer .copyright {
  font-size: 1.5rem;
  color: #fff;
  margin-top: 5rem;
}

#modal {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #fff;
  width: 55rem;
  height: 35rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  visibility: hidden;
}

#modal.active {
  visibility: visible;
  top: 50%;
}

#modal .modal__title {
  width: 100%;
  margin-bottom: 3rem;
}
#modal .modal__title .line {
  width: 5rem;
  height: 0.2rem;
  background: #2c4058;
  margin: 7rem auto 1rem;
}
#modal .modal__title h1 {
  font-family: "Gotham", sans-serif;
  color: #2c4058;
  font-size: 2.2rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  margin: 2rem auto;
  text-align: center;
}

.close {
  position: absolute;
  top: 20px;
  right: 0;
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  color: #2c4058;
  cursor: pointer;
}

.close:hover {
  color: #7e5aff;
}

.modal__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.modal__info .modal__social {
  padding: 2rem;
}
.modal__info .modal__social ul {
  list-style: none;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: 800;
}
.modal__info .modal__social ul li {
  margin: 1rem 0;
}
.modal__info .modal__social ul li a {
  text-decoration: none;
  color: #2c4058;
}
.modal__info .modal__social ul li a i {
  margin-right: 1rem;
  font-size: 1.5rem;
  color: #7e5aff;
}
.modal__info .modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
}
.modal__info .modal__form input {
  outline: none;
  border: none;
  border-bottom: 1px solid #2c4058;
  margin: 2rem 0;
  width: 100%;
}
.modal__info .modal__form input[type=submit] {
  padding: 1rem 2rem;
  border: 1px solid #666;
  color: #666;
  text-transform: uppercase;
  background: transparent;
  outline: none;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-left: 3rem;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.modal__info .modal__form input[type=submit]:hover {
  color: #7e5aff;
  border: 1px solid #7e5aff;
  -webkit-transform: translate(5px, -5px);
          transform: translate(5px, -5px);
  -webkit-box-shadow: -5px 5px 0 #7e5aff;
          box-shadow: -5px 5px 0 #7e5aff;
}

@media (max-width: 980px) {
  html {
    font-size: 45%;
  }

  header.header #menu-btn {
    display: initial;
  }

  header.header .header__navbar {
    position: absolute;
    top: 115%;
    right: 0;
    border-radius: 0.5rem;
    width: 100%;
    background: -webkit-gradient(linear, left top, right top, from(#55b7ff), to(#7e5aff));
    background: linear-gradient(90deg, #55b7ff 0%, #7e5aff 100%);
    border: 1px solid #fff;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
    -webkit-transform-origin: top right;
            transform-origin: top right;
    -webkit-transition: none;
    transition: none;
  }

  header.header .header__navbar.active {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
    -webkit-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
  }

  header.header .header__navbar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  header.header .header__navbar ul li a {
    font-size: 1.7rem;
    display: block;
    margin: 2rem 0;
    color: #2c4058;
  }

  header.header .header__navbar ul li i {
    font-size: 2rem;
    display: block;
    margin: 2rem;
    color: #2c4058;
  }

  header.header .header__navbar ul li i.fa-circle {
    display: none;
  }

  .news {
    padding: 2rem;
  }

  .gallery {
    padding: 2rem;
  }

  .footer .contact {
    margin: 2rem 40% 10rem;
    color: #fff;
    border: 1px solid #fff;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
}
@media (max-width: 860px) {
  .gallery {
    padding: 1rem;
  }

  .projects .image:nth-child(1) {
    margin-bottom: 2rem;
  }

  .projects .image:nth-child(2) {
    margin-top: 5rem;
  }

  .projects .projects__content .projects__content-text button {
    padding: 0.7rem 1.3rem;
    font-size: 1.5rem;
  }
}
@media (max-width: 600px) {
  .intro h1 {
    font-size: 5rem;
  }

  .news .news__slider .slider .slide .text {
    text-align: center;
    padding: 0.5rem;
  }

  .news .news__slider .slider .slide .text .card-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .gallery .gallery__images {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 0.3rem;
    padding: 2rem 4rem;
  }
  .gallery .gallery__images .gallery__images-item img {
    width: 100%;
    margin: 1rem auto;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .gallery .gallery__images .gallery__images-item:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .gallery .gallery__images .gallery__images-item:nth-child(2) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .gallery .gallery__images .gallery__images-item:nth-child(3) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .gallery .gallery__images .gallery__images-item:nth-child(4) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  .gallery .gallery__images .gallery__images-item:nth-child(5) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
  }

  .gallery .gallery__button {
    margin: 2rem 40%;
    padding: 1rem 1.5rem;
    text-align: center;
  }
}
@media (max-width: 410px) {
  .intro h1 {
    font-size: 3rem;
  }

  .intro p {
    font-size: 1.2rem;
    letter-spacing: normal;
  }

  .projects {
    padding: 0 3rem;
  }

  #modal {
    width: 45rem;
    height: 35rem;
  }

  #modal input[type=submit] {
    padding: 0.5rem 1.2rem;
    margin: 0.5rem auto;
  }

  .footer .contact {
    margin: 2rem 30% 5rem;
  }

  .footer .footer__info .footer__logo img {
    width: 100px;
  }
}