@font-face {
  font-family: 'Gotham Bold';
  src: url(../fonts/Gotham-Bold.otf);
}
@font-face {
  font-family: 'Gotham Medium';
  src: url(../fonts/GothamMedium.ttf);
}
@font-face {
  font-family: 'Open Sans Italic';
  src: url(../fonts/OpenSans-Italic.ttf);
}
@font-face {
  font-family: 'Open Sans Regular';
  src: url(../fonts/OpenSans-Regular.ttf);
}
