@mixin title($color) {
  font-family: $gotham, sans-serif;
  color: $color;
  font-size: $title-font-size;
  font-weight: 700;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

@mixin button {
  padding: 1rem 2rem;
  border: 1px solid $light-text-color;
  color: $light-text-color;
  text-transform: uppercase;
  background: transparent;
  outline: none;
  border-radius: 0.3rem;
  cursor: pointer;

  
}
